<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block>
    <div th:fragment="header-css">
        <!-- this is header-css -->
        <link href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
              type="text/css"/>

        <link href="/static/css/layout.css" rel="stylesheet" th:href="@{/css/layout.css}"/>
    </div>
</th:block>


<th:block th:fragment="header">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/employee/create">Create Employee</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/employee/list">Employee List</a>
                </li>
            </ul>
        </div>
    </nav>
</th:block>

</html>