<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/head"></th:block>
<body>

<div th:replace="fragments/header :: header"></div>

<main role="main">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Employee List</h1>


            <table class="table table-hover table-borderless">
                <tbody>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Address</th>
                    <th>Country</th>
                    <th>City</th>
                    <th>Post Code</th>
                    <th>Telephone</th>
                    <th>IBAN</th>
                    <th>Salary</th>
                    <th>Details</th>
                </tr>

                <tr th:if="${employee_list_result == null || employee_list_result.size() == 0}">
                    <td colspan="9"> No Employees Found</td>
                </tr>


                <tr th:each="employee : ${employee_list_result}" th:unless="${employee_list_result.size() == 0}">


                    <td th:text="${employee.firstName}"></td>
                    <td th:text="${employee.lastName}"></td>

                    <td th:text="${employee.address.addressLine}"></td>
                    <td th:text="${employee.address.country}"></td>
                    <td th:text="${employee.address.city}"></td>
                    <td th:text="${employee.address.postCode}"></td>

                    <td th:text="${employee.contacts[0].value}"></td>

                    <td th:text="${employee.paymentInfo.iban}"></td>
                    <td th:text="${employee.paymentInfo.salary}"></td>

                    <td>
                        <a target="_blank" class="btn btn-info btn-sm" role="button" th:href="${'/employee/' +employee.uuid}">Details</a>
                    </td>

                </tr>
                </tbody>
            </table>

            <a class="btn btn-primary" href="/employee/create" role="button">Create New</a>

        </div>
    </div>

</main>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>